:root {
    --text-decoration-color: #4D5AE5;
    --text-title-color: #2E2F42;
    --white-color: #FFFFFF;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: var(--white-color);
    color: #434455;
}

.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}

/*navigation menu*/

.navigation {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-title-color);
}

.fraction-logo {
    color: var(--text-decoration-color);
}

.navigation-menu {}

.navigation-list {}

.stud {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.portfo {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.cont {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

/*contacts*/

.contacts {}

.contacts-mail {}

.contacts-tel {}

.address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
    color: #FF0000;
}

/*hero image*/

.hero-section {
    background: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-button {
    background: #4D5AE5;
}

.hero-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--white-color);
}

/*description*/

.description-title {}

.one-list {}

.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.strategy-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.punctuality {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.punctuality-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.diligence {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.diligence-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.technologies {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.technologies-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/*presentation section*/

.presentation-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-title-color);
}

.presentation-list {}

/*Team*/

.team {
    background: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-title-color);
}

.team-list {}

.one-name-photo {}

.one-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.one-name-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

.two-name-photo {}

.two-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.two-name-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

.three-name-photo {}

.three-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.three-name-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

.four-name-photo {}

.four-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.four-name-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

/*Footer*/

.footer {
    background: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/*second page*/

/*Filters*/
.second-page {}
.portfolio {}

.filters-menu {}

.filters-one-button {
    background: #F4F4FD;
    color: var(--text-decoration-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
}

.filters-two-button {
    background: #F4F4FD;
    color: var(--text-decoration-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
}

.filters-three-button {
    background: #F4F4FD;
    color: var(--text-decoration-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
}

.filters-four-button {
    background: #F4F4FD;
    color: var(--text-decoration-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
}

.filters-five-button {
    background: #F4F4FD;
    color: var(--text-decoration-color);
        width: 78px;
        height: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
}
.filters-one-button:hover {
    color: var(--white-color);
    background: #404BBF;
    border: none;
}

.filters-two-button:hover {
    color: var(--white-color);
    background: #404BBF;
    border: none;
}

.filters-three-button:hover {
    color: var(--white-color);
    background: #404BBF;
    border: none;
}

.filters-four-button:hover {
    color: var(--white-color);
    background: #404BBF;
    border: none;
}

.filters-five-button:hover {
    color: var(--white-color);
    background: #404BBF;
    border: none;
}

/*Row 1*/

.row {}

.interface-concept {}

.title-concept {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.payment {}

.title-Payment {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.meditation {}

.title-Meditation {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

/*Row 2*/

.row-two {}

.taxi {}

.title-Taxi {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.screen {}

.title-Screen {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.courses {}

.title-Courses {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

/*Row 3*/

.row-three {}

.instaStories {}

.title-InstaStories {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}


.food {}

.title-Food {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.coffee {}

.title-Coffee {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.list-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    flex: none;
}
